.register {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,1) 100%
    ),
    url('https://assets.nflxext.com/ffe/siteui/vlv3/45e6f443-8eff-4c7b-ba24-fbdc84c37718/6a6dbcd9-9bbc-423e-a84d-7e39fb76d701/IN-en-20210927-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-size: cover;
    position: relative;

    .top {
        .wrapper {
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                height: 40px;
            }

            .loginButton {
                background-color: red;
                border-top: none;
                color: white;
                border-radius: 5px;
                padding: 5px 15px;
                font-size: 16px;
                font-weight: 400;
                cursor: pointer;
            }
        }
    }

    .container {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        top: 0;
        left: 0;

        h1{
            font-size: 50px;
        }

        h2{
            margin: 20px;
        }

        p{
            font-size: 20px;
        }

        .input {
            width: 50%;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            height: 50px;
            border-radius: 5px;

            input {
                flex: 9;
                height: 100%;
                border: none;
                padding: 0 10px;
            }

            .registerButton {
                flex: 3;
                background-color: red;
                border: none;
                height: 100%;
                color: white;
                font-size: 22px;
                cursor: pointer;
            }
        }
    }
}